{% extends "main/static_elements.html" %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col s3">
            {% for car in cars %}
                <div class="card s6">
                    <div class="card-image">
                        <img src="{{car.car_pic.url}}">
                        <span class="card-title">{{car.car_brand}} {{car.car_model}}</span>
                    </div>
                    <div class="card-action">
                        <a href="#">Rent</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
