{% extends "main/static_elements.html" %}

{% block content %}

<div class="row">
    <form class="col s12">
        <div class="row">
            <select>
                {% for car in cars %}
                    <option value="{{car.car_brand}}">{{car.car_brand}} {{car.car_model}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="start_date" type="text" class="datepicker">
                <label for="start_date">Choose pick up date</label>
            </div>
            <div class="input-field col s6">
                <input id="end_date" type="text" class="datepicker">
                <label for="end_date">Choose return date</label>
            </div>
      </div>
    </form>
</div>
{% endblock %}