<head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    {% include "main/includes/navbar.html" %}

    {% include "main/includes/messages.html" %}

    <div class="container">
        <br>
        {% block content%}
        {% endblock %}
    </div>


</body>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Carent</h5>
        <p class="grey-text text-lighten-4">For more informations please contact with administrator.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Phone: 659 406 306</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Email: example@example.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Text
    </div>
  </div>
 </footer>